<a href="https://colab.research.google.com/github/mdkislam/Machine-Learning/blob/main/HR_Analytics_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# read the dataset
attrition_data = "https://raw.githubusercontent.com/mdkislam/data/main/Hr_Attrition%20analysis.csv"
satisfaction_evaluation_data = "https://github.com/mdkislam/data/blob/main/employee_satisfaction_evaluation.xlsx?raw=true"

In [3]:
df1 = pd.read_csv(attrition_data)
df2 = pd.read_excel(satisfaction_evaluation_data)

In [4]:
df1.head()

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,1003,2,157,3,0,1,0,sales,low
1,1005,5,262,6,0,1,0,sales,medium
2,1486,7,272,4,0,1,0,sales,medium
3,1038,5,223,5,0,1,0,sales,low
4,1057,2,159,3,0,1,0,sales,low

In [5]:
df2.head()

   EMPLOYEE #  satisfaction_level  last_evaluation
0        1003                0.38             0.53
1        1005                0.80             0.86
2        1486                0.11             0.88
3        1038                0.72             0.87
4        1057                0.37             0.52

In [6]:
df1.shape,df2.shape

((14999, 9), (14999, 3))

In [7]:
df1.columns

Index(['employee_id', 'number_project', 'average_montly_hours',
       'time_spend_company', 'Work_accident', 'left', 'promotion_last_5years',
       'department', 'salary'],
      dtype='object')

In [8]:
df2.columns

Index(['EMPLOYEE #', 'satisfaction_level', 'last_evaluation'], dtype='object')

`df1['employee_id']` and `df2['EMPLOYEE #']` are identical we can join both dataframe with the help of these.

## Join both the tables

In [9]:
df = df1.set_index('employee_id').join(df2.set_index('EMPLOYEE #'))

In [12]:
df = df.reset_index()

In [13]:
df.head()

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary,satisfaction_level,last_evaluation
0,1003,2,157,3,0,1,0,sales,low,0.38,0.53
1,1005,5,262,6,0,1,0,sales,medium,0.80,0.86
2,1486,7,272,4,0,1,0,sales,medium,0.11,0.88
3,1038,5,223,5,0,1,0,sales,low,0.72,0.87
4,1057,2,159,3,0,1,0,sales,low,0.37,0.52

In [37]:
# List out all the categorical data
not_num_col = df.select_dtypes(include='object').columns.tolist()
not_num_col

['department', 'salary']

In [45]:
# Treat all the feature as categorical features which have less than or equal to 10 number of categories
# create a list of all those feature
cat_col = df.nunique()[df.nunique()<=10].index.tolist()
cat_col

['number_project',
 'time_spend_company',
 'Work_accident',
 'left',
 'promotion_last_5years',
 'department',
 'salary']

In [21]:
# check all the columns with missing data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   employee_id            14999 non-null  int64
 1   number_project         14999 non-null  int64
 2   average_montly_hours   14999 non-null  int64
 3   time_spend_company     14999 non-null  int64
 4   Work_accident          14999 non-null  int64
 5   left                   14999 non-null  int64
 6   promotion_last_5years  14999 non-null  int64
 7   department             14999 non-null  object
 8   salary                 14999 non-null  object
 9   satisfaction_level     14972 non-null  float64
 10  last_evaluation        14972 non-null  float64
dtypes: float64(2), int64(7), object(2)
memory usage: 1.3+ MB

In [24]:
# check for missing data in the form of all data
temp = df[df.isnull().any(axis=1)]
temp

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary,satisfaction_level,last_evaluation
18,3794,2,160,3,1,1,1,sales,low,NaN,NaN
19,1140,5,262,5,0,1,0,sales,low,NaN,0.89
33,1230,2,140,3,0,1,0,hr,low,NaN,NaN
53,1340,2,132,3,0,1,0,support,low,NaN,NaN
72,22316,2,149,3,0,1,0,product_mng,high,NaN,NaN
92,1581,2,143,3,0,1,0,sales,low,NaN,NaN
107,17376,2,148,3,0,1,0,accounting,medium,NaN,NaN
120,1739,4,158,4,1,1,0,technical,low,NaN,NaN
137,1847,2,129,3,0,1,0,management,low,NaN,NaN
175,32923,4,164,2,0,1,0,sales,low,NaN,NaN
191,2160,4,226,6,1,1,0,technical,medium,0.92,NaN
352,3150,4,262,6,0,1,0,support,low,NaN,0.91
376,3250,4,296,2,0,1,0,IT,medium,0.56,NaN
402,3405,5,275,5,0,1,0,sales,low,NaN,1.00
427,78130,3,180,4,0,1,0,technical,medium,NaN,0.60
442,3635,5,229,5,0,1,0,management,low,0.77,NaN
468,3755,5,245,5,0,1,0,sales,low,NaN,0.92
543,4150,5,237,5,0,1,0,sales,medium,0.89,NaN
892,43615,4,276,5,0,1,0,support,low,0.74,NaN
1588,42185,5,264,5,0,1,0,IT,medium,NaN,0.81
1934,11895,4,225,5,0,1,0,sales,medium,0.78,NaN
2343,14170,3,115,2,1,0,0,support,low,NaN,0.97
2743,16445,5,149,2,0,0,0,RandD,low,0.62,NaN
3170,18980,5,186,2,0,0,0,technical,medium,NaN,NaN
3609,21580,3,263,2,1,0,0,sales,medium,0.95,NaN
3776,22555,4,214,3,0,0,0,technical,medium,NaN,0.68
4122,24505,3,192,3,0,0,0,marketing,high,0.86,NaN
4740,27950,3,253,3,0,0,0,marketing,medium,NaN,0.95
5028,29640,4,180,4,0,0,0,product_mng,medium,0.64,NaN
6453,38090,5,166,2,0,0,0,technical,high,NaN,0.78
7005,41535,4,150,3,0,0,0,technical,low,0.82,NaN
7516,44460,4,264,3,0,0,0,technical,low,NaN,0.97
8630,50960,4,167,3,1,0,0,technical,low,0.90,NaN
9455,55770,4,270,3,0,0,0,product_mng,low,NaN,0.88
9901,58630,5,252,3,0,0,0,support,medium,0.92,NaN
10647,62595,4,165,3,0,0,0,technical,low,NaN,0.69
10962,64350,5,233,3,0,0,0,support,low,0.65,NaN
11575,20215,3,192,7,0,0,0,management,high,NaN,NaN
11967,70005,3,148,3,0,0,0,IT,low,0.82,NaN
12422,72475,5,257,5,0,1,0,technical,medium,NaN,1.00
12853,74880,3,136,2,0,0,0,hr,high,NaN,0.70
13482,78780,3,207,7,0,0,1,management,medium,0.58,NaN
13925,81315,3,133,3,0,0,0,sales,medium,NaN,0.75

In [22]:
# Both the columns are numeric type so I can replace missing values with mean of the data
# get statistical summery of the data
df.describe()

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,satisfaction_level,last_evaluation
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14972.000000,14972.000000
mean,45424.627575,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268,0.612830,0.716125
std,25915.900127,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281,0.248714,0.171138
min,1003.000000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000,0.090000,0.360000
25%,22872.500000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000,0.440000,0.560000
50%,45448.000000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000,0.640000,0.720000
75%,67480.500000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000,0.820000,0.870000
max,99815.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [23]:

df[df.satisfaction_level>df.satisfaction_level.mean()]['number_project',]

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary,satisfaction_level,last_evaluation
1,1005,5,262,6,0,1,0,sales,medium,0.80,0.86
3,1038,5,223,5,0,1,0,sales,low,0.72,0.87
7,1576,5,259,5,0,1,0,sales,low,0.92,0.85
8,1752,5,224,5,0,1,0,sales,low,0.89,1.00
12,2040,4,234,5,0,1,0,sales,low,0.84,0.92
...,...,...,...,...,...,...,...,...,...,...,...
14985,87624,5,254,5,0,1,0,technical,medium,0.91,0.99
14986,87625,4,247,6,0,1,0,technical,low,0.85,0.85
14987,87632,5,206,4,0,1,0,technical,low,0.90,0.70
14990,87639,5,228,5,1,1,0,support,low,0.89,0.88
14993,87661,6,293,6,0,1,0,support,low,0.76,0.83